.NavBar {
   background-color: yellowgreen;
   grid-area: navBar;
   font-size: 16px;
   line-height: 18px;
   border-radius: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.link {
   color: #fff;
   text-transform: uppercase;
}

.item:not(:last-child) {
   /*margin-bottom: 2px;*/
}
