@charset "UTF-8";

* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   min-width: 320px;
}

body {
   line-height: 1;
   font-family: "Rubik";
   font-size: 0.75rem;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
   font-family: "Rubik";
   font-size: inherit;
}

button {
   cursor: pointer;
   color: inherit;
   background-color: inherit;
}

a {
   color: inherit;
}

a:link,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

body {
   color: #616161;
}

.lock body {
   overflow: hidden;
}

[data-fullscreen] {
   height: 100vh;
}

.touch [data-fullscreen] {
   height: calc(var(--vh, 1vh) * 100);
}

[class*="__image-ibg"] {
   position: relative;
}

[class*="__image-ibg"] img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -o-object-fit: cover;
   object-fit: cover;
}
/* ============================== */
.wrapper {
   padding: 0px 15px 50px 15px;
   display: grid;
   grid-template-areas:
      "header header"
      "suiteBar main";
   grid-template-rows: 60px 1fr;
   grid-template-columns: 2fr 10fr;
   gap: 5px;
   /*  */
   min-height: 100%;
   display: -ms-grid;
   overflow: hidden;
   -ms-grid-rows: auto 1fr auto;
   grid-template-rows: auto 1fr auto;
}
.page {
   min-width: 0;
}
.container {
   position: relative;
   padding-right: 0.8rem;
   padding-left: 0.8rem;
   -webkit-box-sizing: content-box;
   box-sizing: content-box;
   margin: 0 auto;
}
/* ============ */
.Content {
   background-color: rgb(0, 128, 75);
   grid-area: main;
   font-size: 14px;
   line-height: 18px;
   color: #fff;
   border-radius: 5px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.button {
   padding: 0.875rem 2rem;
   color: #fcfdfe;
   border-radius: 0.3125rem;
   font-family: "Raleway";
   font-style: normal;
   font-weight: 800;
   font-size: 10px;
   letter-spacing: 0.0625rem;
   text-transform: uppercase;
   display: inline-block;
}
.title {
   font-style: normal;
   font-weight: 700;
   line-height: 1.25;
   margin: 0px 0px 0.75rem 0px;
   color: #000000;
}

.text {
   margin: 0px 0px 1.5rem 0px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.4166666667;
   letter-spacing: 0.08em;
}
@media (min-width: 68.75em) {
   .title {
      font-size: 2.75rem;
   }
}
@media (max-width: 50.3125em) {
   .title {
      font-size: 2.375rem;
   }
}

@media (max-width: 29.99875em) {
   .title {
      font-size: 1.75rem;

      margin: 0px 0px 0.5rem 0px;
   }

   .text {
      margin: 0px 0px 0.75rem 0px;
   }
}
@media (min-width: 50.3125em) and (max-width: 68.75em) {
   .title {
      font-size: calc(2.375rem + 0.375 * (((100vw - 50.3125rem)) / ((18.4375))));
   }
}
@media (any-hover: hover) {
   .button:hover {
      background-color: #ec5346;
      -webkit-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
   }

   .button_blue:hover {
      background-color: #4285a4;
      -webkit-transition: background-color 0.3s ease 0s;
      -o-transition: background-color 0.3s ease 0s;
      transition: background-color 0.3s ease 0s;
   }

   .menu__item:hover {
      text-decoration: underline;
   }
}
