.expert {
   background-color: #fafbfd;
   position: relative;
   max-width: 140.9375rem;
}

.container {
   padding-top: 6.4375rem;
   padding-bottom: 6.4375rem;
}

.statistic_experts {
   margin: 0 auto;
}
.statistic_experts__body {
   background-color: #fff;
   -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
   border-radius: 16px;
   position: relative;
   z-index: 2;
}

.statistic_experts__decor {
   position: absolute;
   background: #ec5863;
   border-radius: 30px;
}

.statistic_experts__decor-1 {
   width: 4.125rem;
   height: 4.125rem;
   border-radius: 16px;
   -webkit-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   transform: rotate(-30deg);
   bottom: -1.25rem;
   left: -1.25rem;
   z-index: 1;
}

.statistic_experts__decor-2 {
   width: 6rem;
   height: 6rem;
   border-radius: 30px;
   -webkit-transform: rotate(105deg);
   -ms-transform: rotate(105deg);
   transform: rotate(105deg);
   top: -2.5rem;
   right: 50%;
}

.statistic_experts__decor-3 {
   width: 7.9375rem;
   height: 7.9375rem;
   border-radius: 30px;
   -webkit-transform: rotate(-30deg);
   -ms-transform: rotate(-30deg);
   transform: rotate(-30deg);
   right: -3.125rem;
   top: 0rem;
}

.body_statistic_experts {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 1.75rem 5rem;
   margin: 0px 0px 5rem 0px;
}

.body_statistic_experts__item {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 25%;
   flex: 1 1 25%;
   text-align: center;
}

.body_statistic_experts__item:last-child {
   -webkit-box-flex: 1;
   -ms-flex: 1 1 50%;
   flex: 1 1 50%;
}

.body_statistic_experts__value {
   font-style: normal;
   font-weight: 700;
   font-size: 2.25rem;
   line-height: 1.1944444444;
   letter-spacing: 0.3125rem;
   color: #ec5863;
   margin: 0px 0px 0.3125rem 0px;
}

.body_statistic_experts__text {
   font-family: "Rubik";
   font-style: normal;
   font-weight: 700;
   font-size: 0.6875rem;
   line-height: 1.1818181818;
   text-align: center;
   letter-spacing: 0.25rem;
   text-transform: uppercase;
   color: #000000;
}

.body_experts_media {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.body_experts_media__content {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 50%;
   flex: 0 1 50%;
   padding: 0rem 1.25rem 0px 2.5rem;
}

.body_experts_media__text {
   max-width: 25rem;
}

.body_experts_media__title {
   max-width: 25rem;
}

.body_experts_media__title span {
   color: #587eec;
}

.body_experts_media__video {
   -webkit-box-flex: 0;
   -ms-flex: 0 1 50%;
   flex: 0 1 50%;
   padding: 0px 0px 25% 0px;
   position: relative;
   -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
   border-radius: 8px;
   overflow: hidden;
}

.body_experts_media__video iframe {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   -o-object-fit: cover;
   object-fit: cover;
}
@media (max-width: 47.99875em) {
   .container {
      padding: 4.375rem 0.625rem 3.125rem 0.625rem;
   }

   .statistic_experts {
      max-width: 85%;
   }

   .body_statistic_experts {
      padding: 1.875rem 0rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .body_statistic_experts__item:not(:last-child) {
      margin-bottom: 0.9375rem;
   }

   .body_experts_media {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .body_experts_media__content {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      margin: 0px 0px 1.875rem 0px;
      padding: 0;
   }

   .body_experts_media__video {
      padding: 0px 0px 55% 0px;
   }
}
@media (max-width: 29.99875em) {
   .body_statistic_experts {
      padding: 0.9375rem 0rem;
   }
}
