.container {
   display: grid;
   grid-template-columns: 1fr 10fr;
}
.dialogsName {
   border-right: 2px solid blue;
}
.dialogsName ul li a {
   cursor: pointer;
   text-decoration: none;
   color: #fff;
   text-transform: uppercase;
}
.userMasseges {
   padding: 10px;
   height: auto;
}
.userMassege {
   display: flex;
   align-items: center;
}
.messageIcon {
   margin-right: 10px;
   width: 20px;
}
.messageIcon:not(last-child) {
   margin-bottom: 10px;
}
